BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 100
PointerAlignment: Right
ReferenceAlignment: Right
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: CaseSensitive
